.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Background.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 898px}
.u-section-1 .u-line-1 {border-style: dashed; left: -38px; top: 111px; position: absolute; height: 368px; transform-origin: center top 0}
.u-section-1 .u-btn-1 {border-style: none; font-size: 1rem; margin: -53px auto 0 171px; padding: 0}
.u-section-1 .u-btn-2 {border-style: none; font-size: 1rem; margin: 7px auto 0 202px; padding: 0}
.u-section-1 .u-btn-3 {border-style: none; font-size: 1rem; margin: 106px auto 0 -44px; padding: 0}
.u-section-1 .u-shape-1 {width: 16px; height: 16px; margin: -20px auto 0 -45px}
.u-section-1 .u-btn-4 {border-style: none; font-size: 1rem; margin: 54px auto 0 -45px; padding: 0}
.u-section-1 .u-shape-2 {width: 16px; height: 16px; margin: -20px auto 0 -45px}
.u-section-1 .u-btn-5 {border-style: none; font-size: 1rem; margin: 54px auto 0 -44px; padding: 0}
.u-section-1 .u-shape-3 {width: 16px; height: 16px; margin: -19px auto 0 -45px}
.u-section-1 .u-btn-6 {border-style: none; font-size: 1rem; margin: 53px auto 0 -45px; padding: 0}
.u-section-1 .u-shape-4 {width: 16px; height: 16px; margin: -19px auto 0 -46px}
.u-section-1 .u-btn-7 {border-style: none; font-size: 1rem; margin: 52px auto 0 -44px; padding: 0}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin: -49px 14px 0 378px}
.u-section-1 .u-shape-5 {width: 16px; height: 16px; margin: -36px auto 0 -46px}
.u-section-1 .u-shape-6 {width: 16px; height: 16px; margin: 56px auto 0 -45px}
.u-section-1 .u-text-2 {font-weight: 400; font-size: 1.5rem; margin: -30px 14px 0 451px}
.u-section-1 .u-btn-8 {border-style: none; font-size: 1rem; margin: -17px auto 0 -45px; padding: 0}
.u-section-1 .u-social-icons-1 {height: 32px; min-height: 16px; width: 74px; min-width: 42px; white-space: nowrap; margin: 19px 50px 0 auto}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-icon-2 {height: 100%}
.u-section-1 .u-icon-3 {height: 29px; width: 29px; background-image: none; margin: -30px 14px 60px auto} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 740px}
.u-section-1 .u-line-1 {left: -17px; top: 153px}
.u-section-1 .u-btn-1 {margin-top: -101px; margin-left: 0}
.u-section-1 .u-btn-2 {margin-left: 2px}
.u-section-1 .u-btn-3 {margin-top: 198px; margin-left: -23px}
.u-section-1 .u-shape-1 {margin-left: -24px}
.u-section-1 .u-btn-4 {margin-left: -22px}
.u-section-1 .u-shape-2 {margin-left: -24px}
.u-section-1 .u-btn-5 {margin-top: 55px; margin-left: -23px}
.u-section-1 .u-shape-3 {margin-top: -20px; margin-left: -24px}
.u-section-1 .u-btn-6 {margin-top: 54px; margin-left: -23px}
.u-section-1 .u-shape-4 {margin-top: -18px; margin-left: -25px}
.u-section-1 .u-btn-7 {margin-top: 51px; margin-left: -23px}
.u-section-1 .u-text-1 {width: auto; margin-top: -143px; margin-right: 35px; margin-left: 411px}
.u-section-1 .u-shape-5 {margin-top: 60px; margin-left: -25px}
.u-section-1 .u-shape-6 {margin-top: 54px; margin-left: -24px}
.u-section-1 .u-text-2 {width: auto; margin-top: -129px; margin-right: 35px; margin-left: 334px}
.u-section-1 .u-btn-8 {margin-top: 83px; margin-left: -23px}
.u-section-1 .u-social-icons-1 {margin-top: -79px; margin-right: 69px}
.u-section-1 .u-icon-3 {margin-right: 33px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 653px}
.u-section-1 .u-line-1 {left: 25px; top: 72px}
.u-section-1 .u-btn-1 {margin-top: -154px}
.u-section-1 .u-btn-2 {margin-left: 0}
.u-section-1 .u-btn-3 {margin-top: 170px; margin-left: 19px}
.u-section-1 .u-shape-1 {margin-top: -17px; margin-left: 18px}
.u-section-1 .u-btn-4 {margin-top: 52px; margin-left: 19px}
.u-section-1 .u-shape-2 {margin-left: 17px}
.u-section-1 .u-btn-5 {margin-left: 19px}
.u-section-1 .u-shape-3 {margin-left: 18px}
.u-section-1 .u-btn-6 {margin-left: 19px}
.u-section-1 .u-shape-4 {margin-left: 17px}
.u-section-1 .u-btn-7 {margin-top: 52px; margin-left: 19px}
.u-section-1 .u-text-1 {margin-top: -122px; margin-right: 7px; margin-left: 277px}
.u-section-1 .u-shape-5 {margin-top: 38px; margin-left: 18px}
.u-section-1 .u-shape-6 {margin-top: 56px; margin-left: 18px}
.u-section-1 .u-text-2 {margin-top: -124px; margin-right: 7px; margin-left: 375px}
.u-section-1 .u-btn-8 {margin-top: 77px; margin-left: 18px}
.u-section-1 .u-social-icons-1 {margin-top: -91px; margin-right: 43px}
.u-section-1 .u-icon-3 {margin-right: 7px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 859px}
.u-section-1 .u-line-1 {left: -19px; top: 146px; height: 512px}
.u-section-1 .u-btn-1 {margin-top: -91px}
.u-section-1 .u-btn-3 {margin-top: 183px; margin-left: -25px}
.u-section-1 .u-shape-1 {margin-top: -20px; margin-left: -26px}
.u-section-1 .u-btn-4 {margin-top: 54px; margin-left: -26px}
.u-section-1 .u-shape-2 {margin-top: -19px; margin-left: -26px}
.u-section-1 .u-btn-5 {margin-top: 53px; margin-left: -25px}
.u-section-1 .u-shape-3 {margin-top: -19px; margin-left: -26px}
.u-section-1 .u-btn-6 {margin-top: 53px; margin-left: -26px}
.u-section-1 .u-shape-4 {margin-top: -21px; margin-left: -27px}
.u-section-1 .u-btn-7 {margin-top: 196px; margin-left: -25px}
.u-section-1 .u-text-1 {margin-top: -169px; margin-right: 11px; margin-left: 46px}
.u-section-1 .u-shape-5 {margin-top: 84px; margin-left: -27px}
.u-section-1 .u-shape-6 {margin-left: -27px}
.u-section-1 .u-text-2 {margin-top: -163px; margin-right: 11px; margin-left: -11px}
.u-section-1 .u-btn-8 {margin-top: 116px; margin-left: -25px}
.u-section-1 .u-social-icons-1 {margin-top: -120px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 899px}
.u-section-1 .u-line-1 {left: -24px; top: 88px; height: 487px}
.u-section-1 .u-btn-1 {margin-top: -117px}
.u-section-1 .u-btn-3 {margin-top: 151px; margin-left: -29px}
.u-section-1 .u-shape-1 {margin-top: -19px; margin-left: -31px}
.u-section-1 .u-btn-4 {margin-top: 49px; margin-left: -29px}
.u-section-1 .u-shape-2 {margin-top: -20px; margin-left: -31px}
.u-section-1 .u-btn-5 {margin-top: 50px; margin-left: -30px}
.u-section-1 .u-shape-3 {margin-top: -20px; margin-left: -31px}
.u-section-1 .u-btn-6 {margin-top: 52px; margin-left: -31px}
.u-section-1 .u-shape-4 {margin-top: -20px; margin-left: -32px}
.u-section-1 .u-btn-7 {margin-top: 181px; margin-left: -29px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-top: -166px; margin-left: 7px; margin-right: 7px}
.u-section-1 .u-shape-5 {margin-top: 107px; margin-left: -32px}
.u-section-1 .u-shape-6 {margin-top: 55px; margin-left: -31px}
.u-section-1 .u-text-2 {margin-top: -180px; margin-right: 7px; margin-left: -7px}
.u-section-1 .u-btn-8 {margin-top: 133px; margin-left: -30px}
.u-section-1 .u-social-icons-1 {margin-top: -142px}
.u-section-1 .u-icon-3 {margin-top: -29px} }